@charset "utf-8";
/* CSS Document */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
a, a:active, a:focus {
outline: none;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}
/* HowdyDoo Logo*/
.logo{
	margin-bottom: 0px;
	margin-left: 50px;
	margin-right: 40px;
	margin-top: 40px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}
@media screen and (max-width:640px){
	.logo{margin-left: 25px;margin-top: 5px}
}

.logo img{
  width: 540px;
  height: 166px;
}
/* Hogarh and Ogilvy */
.footer_logo{
	margin: 5px 0 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}
@media screen and (max-width:640px){
	.footer_logo{margin-left: 0px;margin-top: 5px}
}

.footer img{
  width: 207px;
  height: 29px;
}
/* Jumbotron */
.jumbotron img {
  width: 85%;
  height: auto;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
}

.jumbotron:hover img {
  -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

@media screen and (max-width:1024px){
	.jumbotron img{width:85%}
}
@media screen and (max-width: 640px) {
	.jumbotron img{width:100%}
}
@media screen and (max-width: 768px) {
	.jumbotron img{width:100%}
}
@media screen and (max-width:810px){
	.jumbotron img{width:100%}
}
@media screen and (max-width:992px){
	.jumbotron img{width:85%}
}

.magictime {
-webkit-animation-duration: 3s;
-moz-animation-duration: 3s;
-o-animation-duration: 3s;
animation-duration: 3s;
}

.magictime.magic {
-webkit-animation-duration: 10s;
-moz-animation-duration: 10s;
-o-animation-duration: 10s;
animation-duration: 10s;
}

/* Gallery */
ul {         
  padding:0;
  margin:0 !important;
  clear: both;
}
ul li {     
  list-style:none;
  margin:0px;
  padding:3px;  
}
ul li img {
  cursor: pointer;
}

.col-md-4 img{
	width: 100%;
	height: auto;
	}

/*Form */
#buttonGroupForm .btn-group .form-control-feedback {
    top: 0;
    right: -30px;
}
#text_field {
	width: 75%;
	}
#comment {
	height:100px;
	}
#submit {
	margin: 10px 0 0 0;
	}